// Body
$body-bg: #7fe2bf;
$warning: #ffdf5f;
// Typography
$font-family-sans-serif : // Safari for OS X and iOS (San Francisco)
-apple-system, // Chrome < 56 for OS X (San Francisco)
BlinkMacSystemFont, // Windows
"Segoe UI", // Android
"Roboto", // Basic web fallback
"Helvetica Neue",
Arial,
sans-serif, // Emoji fonts
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol" !default;
$font-size-base: 1.2rem;
$line-height-base: 1.6;
$carousel-indicator-width: 10px;
$carousel-indicator-height: 10px;
$carousel-indicator-active-bg: #fae260;
$nav-pills-link-active-bg: transparent;
$nav-pills-link-active-color: #fff;
$nav-tabs-link-hover-border-color: #fff;
$btn-padding-x-lg:10rem;
$btn-padding-y-lg: 1rem;
$btn-border-radius-lg: 2.4rem;
$link-hover-decoration: none !default;
$pagination-line-height: 3rem;
$pagination-padding-y:0;
$pagination-padding-x:0;
$pagination-color: #fff;
$pagination-bg:#cacaca;
$pagination-hover-color: #fff;
$pagination-hover-bg:#cacaca;
$pagination-active-bg:#29cf95;
$pagination-focus-outline: none;
$pagination-focus-box-shadow: none;
$info: #29cf95;
$modal-content-bg:#ffdf5f;
$modal-header-border-width:0;
$slick-dot-size: .5rem;
$slick-dot-color-active: #fae260;
$slick-dot-color: #fff;
$slick-opacity-not-active: 0.8;
$slick-opacity-default: 1;