// Fonts
//@import url(https://fonts.loli.net/css?family=Dosis);
@import '~/../css/font.css';
// Variables
@import "variables";
// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~slick-carousel/slick/slick-theme';
@import '~slick-carousel/slick/slick';
@import 'mint.css';
html {
    font-size: 62.5%
}

body {
    background: #FFF;
    max-width: 75rem;
    margin: 0 auto;
}

.fixed-bottom {
    max-width: 75rem;
    margin: 0 auto;
}

//#app,#app * {
//    max-width: 750px;
//}
a {
    color: $white;
}

a:hover {
    color: $white;
}

#navigation {
    background: url('/images/bkg-nav.png') 0 0 no-repeat;
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -ms-background-size: 100% 100%;
}

#navigation .nav-icon {
    height: 4rem;
    display: block;
    width: 100%;
    min-width: 3rem;
    position: relative;
}

#navigation .nav-icon:before {
    content: '';
    background-size: cover;
    position: absolute;
    width: 4rem;
    height: 4rem;
    margin-left: -2rem;
}

#navigation .nav-icon.nav-icon-index:before {
    background-image: url('/images/icon-index.png');
}

#navigation .nav-icon.nav-icon-board:before {
    background-image: url('/images/icon-board.png');
}

#navigation .nav-icon.nav-icon-invite:before {
    background-image: url('/images/icon-invite.png');
}

#navigation .nav-icon.nav-icon-activity:before {
    background-image: url('/images/icon-activity.png');
}

#navigation .nav-icon.nav-icon-account:before {
    background-image: url('/images/icon-account.png');
}

#navigation a.active .nav-icon:before,
#navigation a:hover .nav-icon:before {
    width: 4.6rem;
    height: 4.6rem;
    margin-left: -2.3rem;
    margin-top: -.6rem;
}

#navigation .nav-link {
    font-size: 1.2rem;
    padding: 2rem 1rem 0 1rem;
}

#navigation .nav-pills .nav-link.active,
#navigation .nav-pills .show>.nav-link {
    color: #fae260;
}

.carousel-indicators li {
    border-radius: 100%;
    background-color: rgba(#fff, .5);
}

.register-form {
    background: $white;
}

.register-content,
.form-content {
    width: 100%;
    margin: 0;
    padding: 0 3rem 1rem 3rem;
    color: #999;
    font-size: 2rem;
    position: relative;
}

.register-content .error-msg,
.form-content .error-msg {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: $red;
    font-size: 1.6rem;
    padding: 0 0 1.4rem 0;
    text-align: center;
}

.form-content .form-group {
    font-size: 1.75rem;
    padding-top: 2rem;
}

.register-content .form-control,
.form-content .form-control {
    border: none;
    border-bottom: 1px solid #ccc;
    color: #333;
    height: 4rem;
    line-height: 4rem;
    position: relative;
}

.register-content .form-control::placeholder,
.form-content .form-control::placeholder {
    color: #333;
}

.form-content .form-control:disabled,
.form-content .form-control[readonly] {
    background-color: #fff;
}

.register-content .form-control.no-border,
.form-content .form-control.no-border {
    border-bottom: none;
}

.form-content .form-control .mint-switch {
    position: absolute;
    right: 0;
    bottom: 0;
    padding-left: 40rem;
}

.privacy {
    padding-top: 0.6rem;
    font-size: 1.6rem;
}

.privacy a {
    color: #999;
}

.board-content {
    margin-top: 1.5rem;
}

.board-list {
    border-radius: 6.25rem;
    background: #29cf95;
    height: 6.25rem;
    margin-bottom: 1.7rem;
    position: relative;
}

.board-list .board-no-activated {
    line-height: 6.25rem;
    text-align: center;
}

.board-list .number {
    height: 6.25rem;
    line-height: 6.25;
    position: relative;
    margin-right: 16rem;
}

.board-list .number span {
    margin: .75rem;
    width: 4.75rem;
    height: 4.75rem;
    line-height: 4.75rem;
    text-align: center;
    color: $white;
    font-weight: 800;
    display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 2;
}

.board-list .number:after {
    content: "";
    background: url('/images/icon-board-others.png') 0rem 0rem no-repeat;
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -ms-background-size: 100% 100%;
    position: absolute;
    left: .75rem;
    top: .75rem;
    height: 4.75rem;
    width: 4.75rem;
    z-index: 1;
}

.board-list .avatar {
    position: absolute;
    margin: 1rem 0 1rem 6.25rem;
    height: 4.25rem;
    left: 0;
    top: 0;
}

.board-list .avatar img {
    max-width: 4.25rem;
    max-height: 4.25rem;
    vertical-align: initial;
}

.board-list .name-text {
    height: 6.25rem;
    margin: 0;
    color: $white;
    font-weight: 800;
    line-height: 6.25rem;
    position: absolute;
    margin-left: 12rem;
    left: 0;
    top: 0;
}

.board-list .vote {
    height: 4.75rem;
    margin: .75rem 1.25rem .75rem 0;
    color: $white;
    text-align: center;
    float: right;
    width: 4.75rem;
}

.board-list .vote span {
    display: block;
    height: 1.2rem;
    line-height: 1.2rem;
    margin-bottom: .25rem;
}

.board-list .vote a {
    display: block;
    height: 2.75rem;
    line-height: 2.75rem;
}

.board-list .vote a img {
    max-width: 2.75rem;
    max-height: 2.75rem;
}

.board-list .star {
    float: right;
    height: 6.25rem;
    color: $white;
    font-weight: 800;
    line-height: 6.25rem;
    width: 7.25rem;
    text-align: center;
    background: url('/images/icon-star-others.png') 0 center no-repeat;
    background-size: 7.25rem 3.75rem;
    -webkit-background-size: 7.25rem 3.75rem;
    -o-background-size: 7.25rem 3.75rem;
    -moz-background-size: 7.25rem 3.75rem;
    -ms-background-size: 7.25rem 3.75rem;
}

.board-list-1 {
    background: #f68499;
}

.board-list-1 .number:after {
    background-image: url('/images/icon-board-first.png');
}

.board-list-1 .star {
    background-image: url('/images/icon-star-first.png');
}

.board-list-2 {
    background: #f28f6b;
}

.board-list-2 .number:after {
    background-image: url('/images/icon-board-second.png');
}

.board-list-2 .star {
    background-image: url('/images/icon-star-second.png');
}

.board-list-3 {
    background: #76cfe1;
}

.board-list-3 .number:after {
    background-image: url('/images/icon-board-third.png');
    background-position: center center;
}

.board-list-3 .star {
    background-image: url('/images/icon-star-third.png');
}

.board-list-home {
    background: #2ca6e0;
    margin-bottom: 2rem;
}

.board-list-home .number:after {
    background-image: url('/images/icon-board-home.png');
}

.board-list-home .star {
    width: 8.55rem;
    background: url('/images/icon-star-home.png') 0 center no-repeat;
    background-size: 8.55rem 4.65rem;
    -webkit-background-size: 8.55rem 4.65rem;
    -o-background-size: 8.55rem 4.65rem;
    -moz-background-size: 8.55rem 4.65rem;
    -ms-background-size: 8.55rem 4.65rem;
}

.board-list-home-others .number:after {
    background-image: url('/images/icon-board-others.png');
}

.board-list-home-others .star {
    background-image: url('/images/icon-star-home.png') 0 center no-repeat;
}

.board-more {
    margin: 1rem 0 0 0;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.board-more img {
    max-height: 1.05rem;
}

.board-space {
    height: 10rem;
}

.board-topper {
    background: #29cf95;
    margin: 0 -15px;
}

.board-title {
    color: $white;
    text-align: center;
}

.board-title h3 {
    font-size: 2rem;
    padding: 3rem 0;
    line-height: 2rem;
    font-weight: bold;
}

.board-select {
    padding-bottom: 2rem;
}

.board-select .form-group .form-control {
    border: none;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 4rem;
    color: #666;
    font-size: 1rem;
    line-height: 1rem;
}

.board-select .form-group {
    position: relative;
    margin-bottom: 0;
}

.board-select .form-control {
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    width: 10rem;
}

//给自定义的图标实现点击下来功能
.board-select .form-group:after {
    content: "";
    width: 0.95rem;
    height: 0.8rem;
    background: url("/images/select-triangular.png") 0 0 no-repeat;
    background-size: 100% 100%;
    position: absolute;
    right: 0;
    top: 0;
    margin: 1.1rem 0.7rem 0 0;
    pointer-events: none;
}

.board-return {
    position: absolute;
    left: 0;
    top: 0;
    margin: 2rem;
}

.board-topper-img {
    margin: 6rem auto 3rem;
    text-align: center;
}
.regester-succeeded {
    border-radius: 0.4rem;
    background: #29cf95;
    color: $white;
    font-size: 1.4rem;
    padding:2rem 0;
}
.regester-succeeded h3 {
    color: #FFF;
    text-align: center;
    font-size: 1.8rem;
    margin: 0 auto;
}

.regester-succeeded p {
    font-size: 1.35rem;
    line-height: 2.4rem;
    margin: 2rem 2rem 4rem 2.6rem;
    color: #fff;
}

.regester-succeeded-link {
    margin: 1rem 4rem;
}

.regester-succeeded-link a {
    border-radius: 2.15rem;
    display: block;
    height: 4.3rem;
    color: #666 !important;
    background: #fff;
    font-size: 1.2rem;
    text-align: center;
    line-height: 4.3rem;
}

.regester-succeeded-link a:hover,
.regester-succeeded-link a:active {
    color: #999 !important;
}

.flow-chart {
    margin-bottom: 5rem;
}

.flow-chart .flow-chart-return {
    padding: 2rem 2rem 0;
    margin: 0 -15px
}

.flow-chart .flow-chart-topper {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 1.8rem;
    font-weight: bold;
    color: $white;
}

.flow-chart .flow-chart-content {
    margin: 1rem 3rem 0 3rem;
}

.flow-chart .flow-chart-content .flow-chart-number {
    background: #29cf95;
    color: $white;
    height: 5.8rem;
    width: 7.6rem;
    float: left;
    font-size: 2rem;
    line-height: 5.8rem;
    text-align: center;
}

.flow-chart .flow-chart-content .flow-chart-title {
    height: 5.8rem;
    padding-left: 3rem;
    background: #fff;
    color: #666666;
    margin-left: 7.6rem;
    position: relative;
}

.flow-chart .flow-chart-content .flow-chart-title .flow-chart-title-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2rem;
    line-height: 2rem;
}
/*
.flow-chart-title:after,
.flow-chart-title:before {
    content: '';
    position: absolute;
    right: -3.5rem;
    top: 0;
    width: 0;
    height: 0;
    border-top: 3.5rem solid transparent;
    border-left: 3.5rem solid $white;
    border-bottom: 3.5rem solid transparent;
}
*/

.account .account-topper {
    background: #29cf95;
    margin: 0 -15px;
}

.account .account-topper .account-avatar {
    float: left;
    width: 22rem;
    margin: 4rem 0 0 0rem;
    color: $white;
    text-align: center;
}

.account .account-topper .account-nickname {
    margin-top: 1rem;
    font-size: 2rem;
    line-height: 2rem;
}

.account .account-topper .account-city {
    margin-top: 1.6rem;
    line-height: 1.2rem;
    font-size: 1.2rem;
}

.account .account-topper .account-name {
    margin-top: 1rem;
    line-height: 1.4rem;
    font-size: 1.4rem;
}

.account .account-topper .account-img {
    position: relative;
}

.account .account-topper .account-edit {
    position: absolute;
    right: 5rem;
    top: 4rem;
}

.account-avatar .rounded-circle {
    border: 1rem solid #fff;
}

.account .account-topper .account-info {
    margin-left: 22rem;
    font-size: 1.4rem;
    line-height: 1.4rem;
    color: $white;
    padding-left: 0rem;
    padding-top: 4rem;
    height: 24rem;
}

.account .account-topper .account-rank {
    font-size: 2rem;
    line-height: 2rem;
}

.account .account-topper .account-text {
    margin-top: 1.6rem;
}

.account .account-topper .account-info span {
    margin-left: 0.8rem;
    margin-right: 0.8rem;
}

.account .account-topper .account-add,
.account .account-topper .account-vote {
    margin-top: 3rem;
}

.account .account-topper .account-add a {
    border-radius: 1.8rem;
    background: #76cfe1;
    font-size: 1.8rem;
    line-height: 1.8rem;
    height: 1.8rem;
    padding: 0.5rem 2rem;
}

.account .account-topper .account-add a span {
    margin-right: 0;
}

.account .account-topper .account-vote a {
    border-radius: 1.8rem;
    background: #76cfe1;
    font-size: 1.4rem;
    line-height: 1.8rem;
    height: 1.8rem;
    padding: 0.5rem 2rem;
}

.account .account-topper .account-vote a img {
    height: 1.4rem;
    margin: 0.1rem 0 0.3rem 0.2rem;
}

.account .account-topper .account-vote a span {
    margin-right: 0;
    margin-left: 2rem;
}

.account .account-tabs {
    margin: 0 -15px;
    background: #ebf0f2;
    padding: 2.5rem;
}

.account .account-tabs .nav-item a {
    background: #b0b0b0;
    height: 9.5rem;
    font-size: 1.4rem;
    position: relative;
    border-radius: 0 !important;
    border: 1px solid #fff !important;
}

.account .account-tabs .nav-item .center {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.6rem;
    line-height: 3.2rem;
    left: 0;
}

.account .account-tabs .nav-item a.active {
    background: #29cf95;
}

.account .account-tabs .tab-content {
    background: #fff;
    min-height: 23rem;
    padding: 2rem 2rem;
    font-size: 1.4rem;
}

.account .account-tabs .tab-content .table {
    margin-bottom: 0;
}

.borderless td,
.borderless th {
    border: none !important;
}

.account .page {
    margin-top: 3rem;
}

.profile .profile-topper {
    background: #FFF;
    margin: 0 -15px;
}

.profile .return {
    padding: 4rem 2rem 0;
}

.profile .avatar {
    margin-top: 2rem;
    text-align: center;
}

.profile .edit-text {
    color: #c7c7c7;
    text-align: center;
    margin: 1rem 0 0;
    padding-bottom: 4rem;
}

.profile .form-content {
    border-radius: 0;
    width: 100%;
    margin: 1rem 0 0 0;
}

.profile .form-group {
    border-bottom: 1px solid #ced4da;
    padding-bottom: 1rem;
    margin-bottom: 1.5rem;
    margin-top: 0.5rem;
}

.profile .form-group.no-border {
    border-bottom: none;
}

.profile .form-group .form-control {
    border-bottom: none;
    padding: 0.375rem 0rem;
}

.profile .col-form-label {
    font-size: 1.4rem;
    color: $black;
    position: relative;
}

.profile .form-control-plaintext {
    font-size: 1.4rem;
    color: #777474;
}

.profile .form-check-label {
    font-size: 1.4rem;
}

.form-group .help-block {
    height: 0;
}

.form-group.has-error .help-block {
    color: $red;
    font-size: 1.4rem;
    height: 1.4rem;
    visibility: visible;
}

.form-group.has-error .col-form-label {
    color: $red;
}

.form-group.has-error .form-control {
    border: 1px solid $red;
}

.modal-footer {
    justify-content: center;
}

.modal .form-control {
    height: 5rem;
    text-align: center;
}

.modal-footer .btn {
    padding: 1.4rem 0;
    width: 13rem;
    color: $white;
}

.modal-content {
    padding-bottom: 3rem;
    padding-top: 2rem;
    color: $black;
    font-size: 1.6rem;
}

.modal-body {
    line-height: 2.4;
    padding: 0 2rem;
}

.modal-header h4 {
    color: $gray-600;
    font-size: 1.6rem;
}

.modal-body h3 {
    color: $black;
    line-height: 2.4;
    font-size: 1.6rem;
}

.modal-body .btn-go {
    padding: 1.4rem 0;
    width: 13rem;
    width: 60%;
    color: $white;
}

.profile .btn {
    border-radius: 0;
    padding: 2rem 0;
    width: 100%;
    color: $white;
}

.question .question-content {
    margin: 2rem 0.5rem;
    border-radius: 0.4rem;
    background: #29cf95;
    padding: 4rem;
    color: $white;
    font-size: 1.6rem;
}

.question .question-content .question-answer {
    margin-top: 4rem;
}

.question-answer input[type="radio"] {
    margin-right: 0.8rem;
}

.question-content .btn {
    padding: 1.4rem 0;
    width: 20rem;
    background: #ffdf5f;
    font-size: 1.6rem;
    border-radius: 3rem;
    margin-top: 4rem;
}

.invite {
    background: #a6dfee url('/images/bkg-invite.png') 0 0 no-repeat;
    background-size: 100% auto;
    min-height: 40rem;
}

.invite-content {
    padding: 24rem 5rem 0 12rem;
    color: #a0665b;
    font-size: 1.3rem;
    line-height: 2.4rem;
}

.invite-share-bg {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #000;
    opacity: 0.5;
    z-index: 1040;
}

.invite-share-content {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1050;
}


@keyframes rotate3D {
    0% {
        -webkit-transform: rotate(0deg);
    }
    20% {
        -webkit-transform: rotate(15deg);
    }
    60% {
        -webkit-transform: rotate(-15deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
    }
}
@keyframes leftEye {
    0% {
        transform: translate(-0.3rem, 0);
        //-webkit-transform: translate(0.1rem, 0);
        //-ms-transform: translate(0.1rem,0)
    }
    50% {
        transform: translate(0.3rem, 0);
    }
    100% {
        transform: translate(-0.3rem, 0);
    }
}
@keyframes rightEye {
    0% {
        transform: translate(0.3rem, 0);
        //-webkit-transform: translate(0.1rem, 0);
        //-ms-transform: translate(0.1rem,0)
    }
    50% {
        transform: translate(-0.3rem, 0);
    }
    100% {
        transform: translate(0.3rem, 0);
    }
}
.invite-share-content .share-txt {
    position: absolute;
    right: 0;
    top: 0;
    background: url('/images/bkg-invite-share.png') right 0 no-repeat;
    background-size: auto 100%;
    height: 7.9rem;
    text-align: left;
    color: $white;
    font-size: 1.4rem;
    margin: 2.5rem 1rem 0 0;
    padding: 2.4rem 0 0 7rem;
    width: 21.3rem;
    //animation: rotate3D  2s infinite linear ;
}
.invite-share-content .left-eye img,.invite-share-content .right-eye img {
    width: 0.6rem;
}
.invite-share-content .left-eye {
    position: absolute;
    top:1.8rem;
    left:2.25rem;
    animation: leftEye  2s infinite linear ;
}
.invite-share-content .right-eye {
    position: absolute;
    top:1.8rem;
    left:3.95rem;
    animation: rightEye  2s infinite linear ;
}
.page-link {
    border-radius: 1.5rem !important;
    width: 3rem !important;
    height: 3rem !important;
    margin: 0 0.2rem !important;
    border: none !important;
    text-align: center;
}
.slick-dotted.slick-slider {
    margin-bottom: 2rem;
}

.prize-page .activity-content {
    margin: 2rem;
    font-size: 2rem;
    color: $gray-600;
}

.prize-page .prize-content {
    background: #fff;
    border-radius: 0.4rem;
    margin: 1rem 2rem 4rem 2rem;
    position: relative;
    padding: 2rem 3rem 3rem 3rem;
    color: $gray-600;
    min-height: 10rem;
    line-height: 1.7;
    font-size: 1.3rem;
}

.prize-page .prize-content img {
    max-width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.prize-page .prize-content h3 {
    font-size: 1.4rem;
    text-align: center;
}

.prize-page .prize-content .prize-button {
    margin-bottom: -3.4rem;
    height: 4rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    transform: translateY(-50%);
}

.prize-page .prize-content .prize-button .btn-lg {
    padding: 1rem 5rem;
}

.prize-page .prize-content .prize-button .disabled.btn,
.prize-page .prize-content .prize-button .disabled.btn:focus,
.prize-page .prize-content .prize-button .disabled.btn:active {
    background: #e5e5e5;
    opacity: 1;
    border-color: #e5e5e5;
    color: $gray-600;
}

.loading {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 99999;
}

.loading .main-content {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    color: $white;
    transform: translateY(-50%);
}

.loading .main-content p {
    margin-top: 5rem;
}

input[type="radio"]:checked {
    border: solid 1px #666;
}

input[type="radio"] {
    position: relative;
    width: 2rem;
    height: 2rem;
    background-clip: border-box;
    -webkit-appearance: none;
    margin: 0;
    border-radius: 50%;
    vertical-align: text-bottom;
    background-color: #fff;
    border: solid 1px #666;
    box-sizing: border-box;
    padding: 0;
}

input[type="radio"]:disabled {
    opacity: 0.65;
}

input[type="radio"]:before {
    content: '';
    display: block;
    height: 0px;
    width: 0px;
}

input[type="radio"]:checked:before {
    border-radius: 50%;
    margin: 0.23rem 0 0 0.23rem;
    background-color: #f2506e;
    width: 1.4rem;
    height: 1.4rem;
}

input[type="radio"]:focus {
    outline: none;
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.075), 0 0px 2px #38a7ff;
}

input[type="checkbox"] {
    position: relative;
    width: 2rem;
    height: 2rem;
    background-clip: border-box;
    -webkit-appearance: none;
    margin: 0;
    vertical-align: text-bottom;
    border: solid 1px #999;
    box-sizing: border-box;
    padding: 0;
    background: #ffdf5f;
}

input[type="checkbox"]:disabled {
    opacity: 0.65;
}

input[type="checkbox"]:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    color: #000;
}

input[type="checkbox"]:checked:before {
    content: '✓';
    font-weight: bold;
    margin: 0;
    font-size: 1.5rem;
    line-height: 1.9rem;
    text-align: center;
    width: 1.9rem;
    height: 1.9rem;
}

input[type="checkbox"]:focus {
    outline: none;
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.075), 0 0px 2px #38a7ff;
}

.dropdown-toggle:after {
    display: none;
}

.dropdown-item {
    padding: 1rem 1.5rem;
    text-align: center;
}

.dropdown-item.active,
.dropdown-item:active,
.dropdown-item:hover,
.dropdown-item:focus {
    background: #f28f6b;
}

.dropdown-menu:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -0.8rem;
    width: 0;
    height: 0;
    border-left: 0.8rem solid transparent;
    border-top: 0.8rem solid $white;
    border-right: 0.8rem solid transparent;
    margin-left: -2rem;
}

.modal-header .close {
    margin: -3rem -1rem -1rem auto;
}

//slick
.slick-prev,
.slick-next {
    z-index: 99;
}

.slick-dots {
    bottom: .5rem;
}

.slick-arrow {
    z-index: 99;
}

.slick-next {
    right: 2.5rem;
}

.slick-prev {
    left: 2.5rem;
}

.mint-switch-input:checked+.mint-switch-core {
    border-color: #ffdf5f;
    background-color: #ffdf5f;
}

.mint-switch-core::after {
    background-color: #ccc;
}
.slick-content {
    margin:0 -15px;
}